#navbar
{
	overflow: hidden;
  background-color: #591527;
  position: static;
	top: 0;
  width: 100%;
  margin-bottom: 10px;
}
#navbar a:hover 
{
  background-color: #34051D;
}
#navbar a 
{
	float: left;
	color: #FFFFFF;
	text-align: center;
	display: block;
	padding: 18px;
	text-decoration: none;
	font-family: monospace;
	font-size: 22px;
}
#resume
{
	background-color: #E3DCDC;
	color: #1D1C28;
}
#header
{
	margin-top: 10px;
	border-radius: 10px;
	position: static;
  z-index: 1;
  height:40px;
  width: 100%;
  background-color: #AEB6BF;
  margin-bottom: 10px
}
#header h1
{
	float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font: bold 35px 'Roboto Slab', serif;
}
#header h2
{
	float:right;
  margin-right: 20px;
	padding-bottom: 10px;
	font: bold 27px 'Roboto Slab', serif;
}
#profile h3
{
	font: bold 27px 'Roboto Slab', serif;
	margin-top: 30px;
	margin-left: 20px;
	text-decoration: underline;
}
#profile p
{
	font: 21px 'Roboto Slab', serif;
	margin-left: 10px;
}

#edu h3
{
	font: bold 27px 'Roboto Slab', serif;
	margin-top: 20px;
	margin-left: 20px;
	text-decoration: underline;
}
#edu p
{
	font: 21px 'Roboto Slab', serif;
	margin-top: 10px;
	margin-left: 10px;
}
#skill h3
{
	font: bold 27px 'Roboto Slab', serif;
	margin-top: 20px;
	margin-left: 20px;
	text-decoration: underline;
}
#skill ul
{
	font: 21px 'Roboto Slab', serif;
	margin-top: 10px;
	margin-left: 10px;
	list-style: square inside;
}
#hist h3
{
	font: bold 27px 'Roboto Slab', serif;
	margin-top: 20px;
	margin-left: 20px;
	text-decoration: underline;
}
#hist p
{
	font: 22px 'Roboto Slab', serif;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#hist ul
{
	font: 21px 'Roboto Slab', serif;
	margin-left: 10px;
	list-style: square inside;
}
#footer
{
	border-radius: 10px;
	position: static;
  z-index: 1;
  height:40px;
  width: 100%;
  background-color: #AEB6BF;
  margin-top: 20px
}